<table border="1">

    <thead>

    <tr>

        <th width="30%">用户</th>


        <th width="30%">最后登录时间</th>


        <th width="20%">状态</th>


        <th width="20%">操作</th>

    </tr>

    </thead>


    <tbody>
        #foreach($item in $pageModel.getData())

        <tr>

            <td>$item.username</td>


            <td>$item.lastHeartBeat</td>


            <td>
                #if($item.status == 1)
                    在线
                #else
                    离线
                #end
            </td>


            <td>
                #if($item.username != $username && $item.status == 1)
                    <input type="button" value="聊天" onclick="chat('$!{username}', '$!{item.username}')"/>
                #elseif($item.username != $username)
                    <input type="button" value="聊天记录"/>
                #end
            </td>

        </tr>

        #end
    </tbody>

</table>


<div id="userListPagination">
    #parse("/vm/pagination.vm")
</div>

<script type="text/javascript" src="/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/js/pagination.js"></script>

<script type="text/javascript">
    /**
     * 更新用户分页列表
     */
    /**
     * 把result的内容替换userListDiv的内容
     */
    function userListPagination(result) {
        $("#userListDiv").html(result);
    }
    /**
     * userListPagination中的a标签注册点击事件响应
     */
    $("#userListPagination a").click(function(){
        var a = $(this);
        clickGoto(userListPagination, a);
    });
    /**
     * userListPagination中的input标签注册内容变更事件响应
     */
    $("#userListPagination input").change(function(){
        var a = $(this);
        changeGoto(userListPagination, a);
    });
</script>
