@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,800,400);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
}
body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  background-image: -webkit-linear-gradient(top right, rgba(255, 255, 255, 0.6), transparent 60%, rgba(0, 0, 0, 0.6)), -webkit-linear-gradient(bottom right, #a0d3e4, #97d1e7);
  background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.6), transparent 60%, rgba(0, 0, 0, 0.6)), linear-gradient(to top left, #a0d3e4, #97d1e7);
}
.ui {
  margin: 5% auto;
  width: 745px;
  height: 555px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 25px #3a9fc4;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.ui .fun{
  height: 100%;
  width: 8%;
  background: #6e6a7d;
  position: relative;
}
.ui .fun img {
  position: absolute;
  left: 12%;
  top: 3%;
  border-radius: 50%;
  width: 80%;
  height: 8%;
}
.ui .fun .add {
  position: absolute;
  top: 90%;
  left: 12%;
  border-radius: 50%;
  width: 80%;
  height: 8%;
}
.ui .search input {
  outline: none;
  border: none;
  background: none;
}
.ui .search {
  position: relative;
}
.ui .search input[type=submit] {
  font-family: 'FontAwesome';
  position: absolute;
  right: 25px;
  top: 27px;
  color: white;
}
.ui .search input[type=search] {
  background-color: #696c75;
  border-radius: 3px;
  padding: 10px;
  width: 90%;
  box-sizing: border-box;
  margin: 15px 10px;
  color: #fff;
}
.ui .left-menu {
  width: 29%;
  box-sizing: content-box;
  padding-right: 1%;
  height: 100%;
  background: #434753;
}
.ui .chat {
  width: 70%;
  height: 100%;
  background: #e5e5e5;
}
.ui .chat .info {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: 40px;
  width: calc(100% - 65px - 50px);
}
.ui .chat .info .name {
  font-weight: 600;
  color: #434753;
  height: 50%;
}
.ui .chat .info .count {
  color: #6d738d;
}
.ui .chat i.fa {
  color: #d6d9de;
  vertical-align: 25px;
}
.ui .avatar > img,
.ui .list-friends img {
  border-radius: 50%;
  border: 3px solid #696c75;
}
.ui .list-friends {
  list-style: none;
  font-size: 13px;
  height: 88%;
}
.ui .list-friends img {
  margin: 5px;
}
.ui .list-friends > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ui .list-friends .info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.ui .list-friends .user {
  color: #fff;
  margin-top: 12px;
}
.ui .list-friends .status {
  position: relative;
  margin-left: 14px;
  color: #a8adb3;
}
.ui .list-friends .off:after,
.ui .list-friends .on:after {
  content: '';
  left: -12px;
  top: 8px;
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
}
.ui .list-friends .off:after {
  background: #fd8064;
}
.ui .list-friends .on:after {
  background: #62bf6e;
}
.ui .top {
  height: 70px;
}
.ui .messages {
  height: calc(100% - 70px - 150px);
  list-style: none;
  border: 2px solid #fff;
  border-left: none;
  border-right: none;
}
.ui .messages li {
  margin: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.ui .messages li:after {
  content: '';
  clear: both;
  display: block;
}
.ui .messages li .head {
  font-size: 13px;
}
.ui .messages li .name {
  font-weight: 600;
  position: relative;
}
.ui .messages li .name:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  top: 6px;
}
.ui .messages li .time {
  color: #b7bccf;
}
.ui .messages li .message {
  margin-top: 20px;
  color: #fff;
  font-size: 15px;
  border-radius: 3px;
  padding: 20px;
  line-height: 25px;
  max-width: 500px;
  word-wrap: break-word;
  position: relative;
}
.ui .messages li .message:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  top: -12px;
  border-bottom: 12px solid #62bf6e;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.ui .messages li.friend-with-a-SVAGina .name {
  margin-left: 20px;
}
.ui .messages li.friend-with-a-SVAGina .name:after {
  background-color: #62bf6e;
  left: -20px;
  top: 6px;
}
.ui .messages li.friend-with-a-SVAGina .message {
  background-color: #62bf6e;
  float: left;
}
.ui .messages li.friend-with-a-SVAGina .message:before {
  left: 16px;
  border-bottom-color: #62bf6e;
}
.ui .messages li.i .head {
  text-align: right;
}
.ui .messages li.i .name {
  margin-right: 20px;
}
.ui .messages li.i .name:after {
  background-color: #7bc4ef;
  right: -20px;
  top: 6px;
}
.ui .messages li.i .message {
  background-color: #7bc4ef;
  float: right;
}
.ui .messages li.i .message:before {
  right: 16px;
  border-bottom-color: #7bc4ef;
}
.ui .write-form {
  height: 120px;
}
.ui .write-form textarea {
  height: 105px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  margin-top: 1%;
  width: 95%;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 3px;
  resize: none;
}
.ui .write-form textarea:before {
  content: '';
  clear: both;
}
.ui .avatar > img {
  border-color: #62bf6e;
  margin: 10px;
  margin-right: 5px;
}
.ui .avatar {
  display: inline-block;
}
.ui .send {
  color: #7ac5ef;
  text-transform: uppercase;
  font-weight: 700;
  float: right;
  margin-top: 5px;
  margin-right: 5%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ui i.fa-file-o {
  margin-left: 15px;
  margin-top: 6px;
  outline: none;
  float:left;
}
.ui i.fa-picture-o {
  margin-left: 5%;
  margin-top: 6px;
  outline: none;
  float:left;
}

/* add friend searchBox */

#container {
  display: table;

  /* I want the whole search box
     to be exactly this wide. */
  width: 80%;

  margin: 10% auto 0;
}
#container div.cell {
  display: table-cell;
}
#container div.cell:last-child {
  /* Makes sure this cell is only wide enough
     for the button label. */
  width: 1px;
}

#container input[type=search], div.button {
  width: 100%;
  height: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: inherit;
  font-size: inherit;
}

#container input[type=search] {
  margin: 0;
  padding: 0 10px;

  background-color: #f8f8f8;

  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#container .button {
  line-height: 200%;

  margin: 0;
  padding: 0 20px;

  color: #fff;
  background-color: #FF1717;
  font-weight: bold;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  white-space: nowrap;
}

#container .button:hover {
  background: #f7655b;
  text-decoration: none;
}

/*addFriendList*/
#addFriendList {
  list-style: none;
  margin: 5%;
  height: 76%;
  padding: 3%;
  overflow: auto;
}

#addFriendList img {
  border-radius: 50%;
  border: 3px solid #696c75;
  margin: 5px;
}

#addFriendList > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#addFriendList .info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#addFriendList .user {
  color: #fff;
  margin-top: 12px;
}
#addFriendList .status {
  position: relative;
  color: #a8adb3;
}


/*addFriendButton*/
.addBtn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  background: #d81406;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  height: 50%;
  margin-top:5%;
  font-size: 80%;
}

.addBtn:hover {
  background: #f7655b;
  text-decoration: none;
}

/*detail infomations*/
.detailinfo {
  margin: 5% auto;
  height: 90%;
  width: 90%;
}

.detailinfo .head {
  border-radius: 50%;
  margin-left: 36%;
  margin-right: 36%;
  margin-top: 10%;
  height: 24%;
  width: 28%;
}

.detailinfo .name {
  margin: 1% 20%;
  width: 60%;
  height: 10%;
  background: none;
  border: none;
  text-align: center;
  font-size: 150%;
}

.detailinfo .signature {
  margin: 1% 20%;
  width: 60%;
  height: 10%;
  background: none;
  border: none;
  text-align: center;
  resize: none;
}

.detailinfo .division {
  width: 50%;
  margin: 1% 25%;
}

.detailinfo .others {
  background: none;
  border: none;
  text-align: center;
  width: 100%;
  font-size: 80%;
  color: #a8a8a8;
}

.detailinfo .gender {
  margin: 1% 31%;
  font-size: 80%;
  color: #a8a8a8;
}

/*active button*/
.activeButton {
  display: inline-block;
  margin: 15% 42%;
  padding: 2%;
  font-size: 1.625rem;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d81406;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 -2px #e5e5e5, 0 0 0 -1px #d81406;
  box-shadow: 0 0 0 -2px #e5e5e5, 0 0 0 -1px #d81406;
  border: none;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
}
.activeButton:hover, .activeButton:focus {
  -webkit-box-shadow: 0 0 0 2px #e5e5e5, 0 0 0 4px #d81406;
  box-shadow: 0 0 0 2px #e5e5e5, 0 0 0 4px #d81406;
  -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatine 0.5s 1;
  animation: gelatine 0.5s 1;
}

.activeButton:active {
  background: #f7655b;
  -webkit-transition-duration: 0;
  transition-duration: 0;
  -webkit-box-shadow: 0 0 0 2px #e5e5e5, 0 0 0 4px #f7655b;
  box-shadow: 0 0 0 2px #e5e5e5, 0 0 0 4px #f7655b;
}

/**
 * $keyframes \ gelatine
 **/
@keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }

  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
@-webkit-keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }

  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

.hiddenThing {
}