<h3>聊天窗口</h3>
<div id="chatRecordList">
    #parse("/vm/chat/chatlog.vm")
</div>
<div style="height:1px; width:100%; border-left:1px #fff solid;float:left;margin:5px;"></div>
<div align="left">
    <textarea rows="4" cols="60"  id="messageTextarea"></textarea> <input type="button" value="发送" onclick="sendMessage('$!{fromUserName}', '$!{toUserName}')"/>
</div>
