<div class="top">
    <div class="avatar">
        <img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
    </div>
    <div class="info">
        <div class="name">Юния Гапонович</div>
        <div class="count">already 1 902 messages</div>
    </div>
    <i class="fa fa-star"></i>
</div>
<ul class="messages" name="messages">
    <li class="i">
        <div class="head">
            <span class="time">10:13 AM, Today</span>
            <span class="name">Буль</span>
        </div>
        <div class="message">Привет!</div>
    </li>
</ul>
<div class="write-form">
    <textarea placeholder="Type your message" name="e" id="texxt"  rows="2" onkeypress="checkEnterPress()"></textarea>
    <i class="fa fa-picture-o"></i>
    <i class="fa fa-file-o"></i>
    <span class="send" onclick="insertI('$!{username}', '$!{toUsername}')">Send</span>
</div>