<div class="top">
    <div class="avatar">
        <img width="50" height="50" src="$!{personalInfoVo.pic}">
    </div>
    <div class="info">
        <div class="name">$!{toUsername}</div>
        <div class="count">$!{personalInfoVo.signature}</div>
    </div>
    <i class="fa fa-cog"></i>
</div>
<ul class="messages" id="messages">
    #foreach($item in ${records})
        #if ($item.fromEmail == $!{fromEmail})
            <li class="i">
                <div class="head">
                    <span class="time">$item.CreateTime</span>
                    <span class="name">$fromUsername</span>
                </div>
                <div class="message">$item.content</div>
            </li>
        #else
            <li class="friend-with-a-SVAGina">
                <div class="head">
                    <span class="name">$toUsername</span>
                    <span class="time">$item.CreateTime</span>
                </div>
                <div class="message">$item.content</div>
            </li>
        #end
    #end
</ul>
<div class="write-form">
    <i class="fa fa-picture-o"></i>
    <i class="fa fa-file-o" id="exportChatRecord"></i>
##    <span class="send" onclick="insertI('$!{fromEmail}', '$!{toEmail}', '$!{fromUsername}', '$!{toUsernam}')">Send</span>
    <textarea placeholder="Type your message" name="e" id="texxt"  rows="2"onkeypress="checkKey(event)"></textarea>
</div>
<script type="text/javascript">
    var lol = {
        cursorcolor: "#cdd2d6",
        cursorwidth: "4px",
        cursorborder: "none"
    };
    $(".messages").niceScroll(lol);
    function checkKey(event) {
        if (event.keyCode == 13) {
            insertI('$!{fromEmail}', '$!{toEmail}', '$!{fromUsername}', '$!{toUsernam}');
        }
    }
    claerResizeScroll();
    $(".top i").click(function () {
//        alert("clicked");
        $.ajax({
            type: "POST",
            url: "/user/detailinfo",
            data: {email: "$!{toEmail}"},
            success: function (result) {
                $("#chat").html(result);
            }
        });
    });
    $("#exportChatRecord").click(function () {
        window.open("/chat/chatrecords");
    });
</script>