<div class="detailinfo">
    <img class="head" src="http://lorempixel.com/50/50/people/99">
    <input id="name" class="name" type="text" readonly=true value="$personalInfoVo.username">
    <textarea id="sign" class="signature" type="text" readonly=true>$personalInfoVo.signature</textarea>
    <HR class="division" size=2 color=#d81406/>
    <input class="others" type="text" readonly=true value="$personalInfoVo.email">
    <form class="gender">
        <label>Gender: </label>
        <label for="male">Male</label>
        #if ($personalInfoVo.gender == 0)
            <input type="radio" name="sex" id="male" value="male" checked="checked"/>
        #else
            <input type="radio" name="sex" id="male" value="male"/>
        #end
        <label for="female">Female</label>
        #if ($personalInfoVo.gender == 0)
            <input type="radio" name="sex" id="female" value="female"/>
        #else
            <input type="radio" name="sex" id="female" value="female" checked="checked"/>
        #end
    </form>
    <a class="activeButton" id="activeButton">Save</a>
</div>

<script type="text/javascript">
    //save按键点击动作
    $("#activeButton").click(function () {
        var thename = document.getElementById("name").value;
        var thesign = document.getElementById("sign").value;
        var thegender = $("input[name='sex']:checked").val();
        var data = {type:"updatePersonalInfo", thename:thename, thesign:thesign, thegender:thegender};
        send(JSON.stringify(data));
        $("#chat").html("");
    });
    //修改用户名
    $("#name").click(function () {
        $(this).attr("readonly", false);
    });
    //修改个性签名
    $("#sign").click(function () {
        $(this).attr("readonly", false);
    });
</script>

