<div class="detailinfo">
    #if (${fromEmail} != ${detailEmail})
    <i id="deleteFriend" class="fa fa-close" style="color:#696c75;"> delete this friend</i>
    #end
    <img class="head" src="$personalInfoVo.pic">
    #if (${fromEmail} == ${detailEmail})
        <form id="uploadHead-form">
            <input id="uploadHead" name="pic" class="hiddenThing" type="file" hidden="hidden" value="" accept="image/jpeg, image/x-png, image/x-MS-bmp">
        </form>
    #end
    <input id="name" class="name" type="text" readonly=true value="$personalInfoVo.username">
    <textarea id="sign" class="signature" type="text" readonly=true>$personalInfoVo.signature</textarea>
    <HR class="division" size=2 color=#d81406/>
    <input class="others" type="text" readonly=true value="$personalInfoVo.email">
    <form class="gender">
        <label>Gender: </label>
        <label for="male">Male</label>
        #if ($personalInfoVo.gender == 0)
            <input type="radio" name="sex" id="male" value="male" checked="checked"/>
        #else
            <input type="radio" name="sex" id="male" value="male"/>
        #end
        <label for="female">Female</label>
        #if ($personalInfoVo.gender == 0)
            <input type="radio" name="sex" id="female" value="female"/>
        #else
            <input type="radio" name="sex" id="female" value="female" checked="checked"/>
        #end
    </form>
    #if (${fromEmail} != ${detailEmail})
        <div class="groupChoise">
            <label for="groupChoise">Group:</label>
            <select id="groupChoise">
                <option value="$nowGroup">$nowGroup</option>
                #foreach ($item in $friendList.keySet())
                    #if ($nowGroup != $item)
                    <option value="$item">$item</option>
                    #end
                #end
            </select>
        </div>
    #end
    <a class="activeButton" id="activeButton">Save</a>
</div>

<script type="text/javascript">
    //save按键点击动作
    $("#activeButton").click(function () {
        var thename = encodeURI(document.getElementById("name").value);
        var thesign = encodeURI(document.getElementById("sign").value);
        var thegender = $("input[name='sex']:checked").val();
        var thegroup = encodeURI($("#groupChoise").val());
        var data = {type:"updatePersonalInfo", thename:thename, thesign:thesign, thegender:thegender, thegroup: thegroup};
        send(JSON.stringify(data));
        $("#chat").html("");
    });
    //修改用户名
    $("#name").click(function () {
        $(this).attr("readonly", false);
    });
    //修改个性签名
    $("#sign").click(function () {
        $(this).attr("readonly", false);
    });
    $("#deleteFriend").click(function () {
        var email = $(this).parent().find(".others").val();
//        alert(email);
        send(JSON.stringify({type:"deleteFriend", toEmail: email}));
        $("#chat").html("");
    });
    $(".chat .detailinfo .head").click(function() {
        var i = $("#uploadHead");
        i.trigger('click');
    });

    $("#uploadHead").on("change", function() {
        var addr = $("#uploadHead").val();
        var pic = $("#uploadHead-form").serialize();
        $("#uploadHead-form").ajaxSubmit({
            type: "POST",
            url: "user/uploadHead",
            dataType: "json",
            data: {pic: pic},
            contentType: false,
            cache: false,
            processData: false,
            success: function(result) {
                if (result.status == 200) {
                    var email = $(".others").val();
                    email = "/userResources/" + email.substr(6) + "_head" + addr.substr(addr.indexOf("."));
                    email = email + "?" + Math.random(500);
                    $(".head").attr("src", email);
                    $("#myhead").attr("src", email);
                } else {
                    alert(result.message);
                }
            }
        });
    });

</script>

