#foreach($item in ${friendList})
    <li>
        <img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
        <div class="info">
            <div class="user">$item.getUsername()</div>
            #if($item.getStatus() == 1)
                <div class="status on"> online</div>
            #else
                <div class="status off"> offline</div>
            #end
        </div>
    </li>
#end


<script type="text/javascript">
    $("#list-friends li").click(function(){
        var toUserName = $(this).find(".user")[0].innerText;
        $.ajax({
            type: "GET",
            url: "/chat/chatbox",
            data: {toUserName: toUserName},
            success: function(result) {
                $("#chat").html(result);
            }
        });
    });
</script>