<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Live chat </title>
    
    
    <link rel="stylesheet" href="/css/normalize.css">

    
        <link rel="stylesheet" href="/css/style.css">

    

    
  </head>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/nicescroll/3.5.4/jquery.nicescroll.js'></script>

  <script src="/js/main.js"></script>

  <body>

  	<div class="ui">
        <div class="fun">
            <img src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
            <img class="add" src="http://www.iconpng.com/png/windows8_icons2/plus2_.png">
        </div>
		<div class="left-menu">
				<form action="#" class="search">
					<input placeholder="search..." type="search" name="" id="">
					<input type="submit" value="&#xf002;">
				</form>
				<menu class="list-friends" id="list-friends">
					#parse("/vm/friendlist.vm")
				</menu>
		</div>
		<div class="chat" id="chat">
			##parse("/vm/chatbox.vm")
		</div>
	</div>

  </body>
</html>
