<div>
    #if(${pageModel.isFirst()})
        首页
    #else
        <a href="javascript:void(0);" url="${pageModel.getFirstUrl()}">首页</a>
    #end
    #if(${pageModel.hasPre()})
        <a href="javascript:void(0);" url="${pageModel.getPreUrl()}">上一页</a>
    #else
        上一页
    #end
    <input value="${pageModel.getCurPage()}" style="width:20px;height:15px" url="${pageModel.getBaseUrl()}"/>
    #if(${pageModel.hasNext()})
        <a href="javascript:void(0);" url="$pageModel.getNextUrl()">下一页</a>
    #else
        下一页
    #end
    #if(${pageModel.isLast()})
        尾页
    #else
        <a href="javascript:void(0);" url="${pageModel.getLastUrl()}">尾页</a>
    #end
</div>