<div id='container'>
    <div class='cell'>
        <input type='search' placeholder='Search your friends' id="userCondition">
    </div>
    <div class='cell'>
        <div class='button'>Search</div>
    </div>
</div>
<menu id="addFriendList">

</menu>

<script type="text/javascript">
    var conf = {
        cursorcolor: "#696c75",
        cursorwidth: "4px",
        cursorborder: "none"
    };
    $("#addFriendList").niceScroll(conf);
    $(".cell .button").click(function () {
        var userCondition = encodeURI(document.getElementById("userCondition").value);
        $.ajax({
            type: "GET",
            url: "/friend/searchUser",
            data: {userCondition: userCondition},
            success: function (result) {
                $("#addFriendList").html(result);
            }
        })
    });
</script>